# =========================
# Dependencies
# =========================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =========================
# Next.js Build Files
# =========================
.next/
.next_backup_*/
.next_backup_**/
.dist/
out/
build/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Testing
# =========================
coverage/

# =========================
# Environment Variables
# =========================
.env
.env.*
.env*.local

# =========================
# Vercel
# =========================
.vercel/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# Misc
# =========================
*.log
*.pem
*.zip


.next/
.next.nosync/
node_modules/
.env*/
.vercel

# clerk configuration (can include secrets)
/.clerk/
